<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="container clearfix">
                            <div class="people-list" id="people-list">
                                <ul class="list">
                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Main Group</div>
                                            <div class="status">
                                                online
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Aiden Chavez</div>
                                            <div class="status">
                                                <i class="fa fa-circle offline"></i> left 7 mins ago
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Mike Thomas</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Erica Hughes</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Ginger Johnston</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Tracy Carpenter</div>
                                            <div class="status">
                                                <i class="fa fa-circle offline"></i> left 30 mins ago
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Christian Kelly</div>
                                            <div class="status">
                                                <i class="fa fa-circle offline"></i> left 10 hours ago
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Monica Ward</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Dean Henry</div>
                                            <div class="status">
                                                <i class="fa fa-circle offline"></i> offline since Oct 28
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">Peyton Mckinney</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="chat">
                                <div class="chat-header clearfix">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />

                                    <div class="chat-about">
                                        <div class="chat-with">Chat with Vincent Porter</div>
                                        <div class="chat-num-messages">already 1 902 messages</div>
                                    </div>
                                    <i class="fa fa-star"></i>
                                </div> <!-- end chat-header -->

                                <div class="chat-history">
                                    <ul>
                                        <li class="clearfix">
                                            <div class="message-data align-right">
                                                <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
                                                <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

                                            </div>
                                            <div class="message other-message float-right">
                                                Hi Vincent, how are you? How is the project coming along?
                                            </div>
                                        </li>

                                        <li>
                                            <div class="message-data">
                                                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                                                <span class="message-data-time">10:12 AM, Today</span>
                                            </div>
                                            <div class="message my-message">
                                                Are we meeting today? Project has been already finished and I have results to show you.
                                            </div>
                                        </li>

                                        <li class="clearfix">
                                            <div class="message-data align-right">
                                                <span class="message-data-time" >10:14 AM, Today</span> &nbsp; &nbsp;
                                                <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>

                                            </div>
                                            <div class="message other-message float-right">
                                                Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so? Have you faced any problems at the last phase of the project?
                                            </div>
                                        </li>

                                        <li>
                                            <div class="message-data">
                                                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                                                <span class="message-data-time">10:20 AM, Today</span>
                                            </div>
                                            <div class="message my-message">
                                                Actually everything was fine. I'm very excited to show this to our team.
                                            </div>
                                        </li>

                                        <li>
                                            <div class="message-data">
                                                <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
                                                <span class="message-data-time">10:31 AM, Today</span>
                                            </div>
                                            <i class="fa fa-circle online"></i>
                                            <i class="fa fa-circle online" style="color: #AED2A6"></i>
                                            <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                                        </li>

                                    </ul>

                                </div> <!-- end chat-history -->

                                <div class="chat-message clearfix">
                                    <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

                                    <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-file-image-o"></i>

                                    <button>Send</button>

                                </div> <!-- end chat-message -->

                            </div> <!-- end chat -->

                        </div> <!-- end container -->
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';

export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
    },
}
</script>
