<template>
    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />

            <div class="chat-about">
                <div class="chat-with">{{groupTitle}}</div>
                <div class="chat-num-messages">already {{ group.messages.length }} messages</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>
                <li :class="auth.id === message.user.id ? 'clearfix' : ''" v-for="message in group.messages">
                    <div class="message-data" :class="auth.id === message.user.id ? 'align-right' : ''">
                        <span class="message-data-name" >{{message.user.name}}</span> <i class="fa fa-circle" :class="auth.id === message.user.id ? 'me' : 'online'"></i><br>
                        <span class="message-data-time" >{{ dateInArabic(message.created_at) }}</span>
                    </div>
                    <div class="message" :class="auth.id === message.user.id ? 'float-right other-message' : 'my-message'">
                        {{message.body}}
                    </div>
                </li>
            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <input id="message-to-send" @keydown.enter="sendMessage" placeholder ="Type your message" v-model="form.body">
            <button @click.prevent="sendMessage">Send</button>
        </div> <!-- end chat-message -->

    </div>
</template>

<script>
export default {
    name: "group",
    props: {
        group: Object
    },
    data() {
        return {
            auth: this.$page.props.auth.user,
            form: this.$inertia.form({
                body: '',
                group_id: '' || 1
            })
        }
    },
    computed: {
        groupTitle() {
            if(this.group.id !== 1) return this.group.users.find((user) => user.id !== this.auth.id).name
            return this.group.title;
        },
    },
    methods: {
        sendMessage() {
            this.form.post('/chat', {
                onSuccess: () => {
                    this.form.body = '';
                }
            })
        },
        dateInArabic (date) {
            return new Intl.DateTimeFormat('en', {
                hour: 'numeric',
                minute: 'numeric',
            }).format(new Date(date))
        }
    },
    watch: {
        group: function (value) {
            this.form.group_id = value.id
        }
    }
}
</script>

<style scoped>

</style>
