<template>
    <Head title="Dashboard" />

    <BreezeAuthenticatedLayout>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="container clearfix">
                            <div class="people-list" id="people-list">
                                <ul class="list">
                                    <li style="cursor: pointer" class="clearfix" @click="currentGroup = publicGroup">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">{{ publicGroup.title }}</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> {{ publicGroup.last_use }}
                                            </div>
                                        </div>
                                    </li>
                                    <hr style="margin-bottom:20px; border: #000 1px solid">
                                    <li style="cursor: pointer" class="clearfix" v-for="user in users.filter((usr) => usr.id !== $page.props.auth.user.id)" @click="getGroup(user.id)">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/512px-User_font_awesome.svg.png" alt="avatar" />
                                        <div class="about">
                                            <div class="name">{{ user.name }}</div>
                                            <div class="status">
                                                <i class="fa fa-circle online"></i> online
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <group :group="currentGroup"></group>
                        </div> <!-- end container -->
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue'
import { Head } from '@inertiajs/inertia-vue3';
import group from './group'
export default {
    components: {
        BreezeAuthenticatedLayout,
        Head,
        group,
    },
    props: {
        publicGroup: Object,
        users: Array
    },
    data() {
        return {
          currentGroup: this.publicGroup
        }
    },
    methods: {
        getGroup(userID) {
            const _this = this;
            axios.get(`chat/${userID}`).then(function (res) {
                _this.currentGroup = res.data
            });
        }
    }

}
</script>
